body{
	background: white;
	margin: 0;
	padding: 27px 0;
	font-family: 'Lucida Grande', 'Kalimba', 'Segoe Ui', 'Gill Sans', 'Tahoma', sans-serif;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
nav, footer{
	display: block;
	background: #111;
	height: 27px;
	-webkit-box-shadow: 0 0 25px #999;
	color: white;
	position: absolute;
	left: 0;
	width: 100%;
}
nav{
	top: 0;
	border-bottom: solid 1px #ddd;
}
footer{
	border-top: solid 1px #ddd;
	bottom: 0;
}
footer ul, nav ul{
	margin: 0;
	padding: 0 0 0 50px;
	list-style: none;
}
footer li, nav li{
	display: inline-block;
	padding: 0 10px;
	margin: 5px 0;
	color: #666;
	text-transform: uppercase;
	font-weight: bold;
	border-left: solid 1px #444;
	font-size: 10pt;
}
footer li{
	opacity: 0;
}
footer li:hover, nav li:hover{
	color: #ccc;
	cursor: pointer;
}
header{
	display: inline-block;
	height: 300px;
	width: 500px;
	position: absolute;
	top: 40px;
	right: 20px;
	padding: 0;
	color: #999;
	width: 100%;
}
header img{
	float: right;
	opacity: 0.2;
}
header div{
	text-align: right;
	position: absolute;
	top: 110px;
	right: 260px;
	width: 350px;
}
header h1{
	margin: 0;
	padding: 0;
	font-size: 15pt;
	text-transform: uppercase;
}
.container{
	position: absolute;
	background: white;
	border: solid 2px #666;
	-webkit-box-shadow: 0 0 25px #999;
	opacity: 0;
	overflow: hidden;
}
.windowb{
	margin: 10px 5px;
	font-weight: bold;
	background: #222;
	color: #999;
	display: inline-block;
	float: right;
	height: 20px;
	width: 20px;
	font-size: 10pt;
	text-align: center;
	border-radius: 5px;
}
.content{
	margin: 40px 10px 100px 10px;
	overflow: auto;
	height: 100%;
}
section{
	background: #ccc;
	padding: 15px 15px 50px 15px;
	border-radius: 5px;
	display: block;
	overflow: auto;
}
article{
	border-radius: 5px;
	background: #222;
	padding: 5px;
	margin: 10px;
	color: #ddd;
	display: block;
}
article h3{
	color: white;
}
